#productForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
}

#productForm input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#productForm button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

#productForm button:hover {
  background-color: #218838;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.product-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.product-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-item h2 {
  font-size: 18px;
  margin: 10px 0;
}

.product-item p {
  font-size: 14px;
  color: #555;
}
